body {
    font-family: 'Afacad', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    color: black;
}

.outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.spacer {
    flex: 0 0 40px;
    width: 40px;
}

.logo {
    padding-left: 8px;
    display: flex;
    align-items: center;
    mix-blend-mode: multiply;
}

header form {
    padding: 8px;
    flex-grow: 1;   
}

.search-cart {
    display: flex;
    align-items: right;
    flex-grow: 1;
}

input {
    font-family: inherit;
    font-size: 18px;
    width: 100%;
    padding: 6px;
    outline: none;
    border: 1px solid gray;
    background: url(../images/search-interface-symbol.png) no-repeat right 10px center;
    background-size: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .spacer {
        display: none;
    }
    .p-image1 {
        width: 250px;
    }
}

.p-image2 {
    padding-left: 8px;
    display: none;
}

.banner-spacer {
    display: none;
}

@media (min-width: 1245px) {
    .p-image2 {
        display: flex;
    }
    .banner-spacer {
        display: flex;
        width: 20%;
    }
}

.banner {
    display: flex;
    align-items: center;
    padding: 6px 6px 0px 6px;   
    background-color: orange;
}

.product-info {
    flex-grow: 1;
    padding-left: 40px;
    padding-right: 16px;
}

.product-image {
    display: flex;
    align-items: right;
    width: auto;
    height: auto;
    flex-shrink: 1;
    justify-content: center;
}

main {
    border-bottom: 1px solid black;
    h2 {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 6px;
        background-color: rgb(253, 117, 87);

    }
    .category {
        div{
            display: flex;
            align-items: center; /* */
              
        }
    }
    .p-image {
        mix-blend-mode: multiply;
        padding: 35px;
        filter: contrast(1.12);
    }
    .p-image:hover {
        filter: contrast(1);
      }
    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 6px;
    background-color: orange;
}